{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FILMS</title>
    <link type="text/css" href="{% static 'library/css/style.css' %}" rel='stylesheet' />
    <link type="image/x-icon" href="{% static 'library/icon/icon-play.svg' %}" rel="SHORTCUT ICON"/>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
</head>
<body>

{% block mainmenu %}
    <header>
        <nav class="header-nav">
            <div class='header-nav-logo default-container'>
                <ul>
                    <li>
                        <a href="{% url 'main_page' %}">
                            <p class="title-logo">WORLD OF WORDS</p>
                        </a>
                    </li>
                </ul>

                <ul class="menu">

                    <form class="search" method=POST action="">
                    {% csrf_token %}
                        <input class="search__input" type="text" placeholder="Search" name="searched" autocomplete="off">
                        <button type="button" class="search__btn">
                            <img class="" src="{% static 'library/icon/SearchIcon.svg' %}" alt="logo">
                        </button>
                    </form>
                    <li><a href="">ABOUT</a></li>
                    <li><a href="">MOVIES</a></li>
                    <li><a href="">SHOWS</a></li>
                </ul>
            </div>
        </nav>
    </header>

{% endblock mainmenu %}

{% block content %}

{% endblock %}

{% block footer %}
    <footer>
        <div class="footer-wrapper default-container">
            <div class="f-item">
                <p class="" >Main links</p>
                <ul>
                    <li>Films</li>
                    <li>Books</li>
                    <li>Games</li>
                </ul>
            </div>
            <div class="f-item">
                <p>Other Links</p>
                <ul>
                    <li>About Us</li>
                </ul>
            </div>
            <div class="f-item">
                <p>World of Word</p>
                <ul>
                    <li>Team of bees code</li>
                </ul>
            </div>
        </div>
        <div class="footer-social  ">
            <p>Follow us via social media:</p>
            <a href="">
                <img src="{% static 'library/icon/Instagram.svg' %}" alt="facebook">
                <img src="{% static 'library/icon/Discord.svg' %}" alt="discord">
                <img src="{% static 'library/icon/Telegram.svg' %}" alt="telegram">
            </a>
        </div>
    </footer>

{% endblock %}

</body>
</html>