{% extends 'library/base.html' %}
{% load static %}


{% block content %}
<main>
    <section>
        <ul class="heroes">
            <li>
                <img class="hero" src="{% static 'library/images/angry.jpg' %}" alt="img">
                <div class="default-container">
                    <div class="hero-film"><p>Ravage</p></div>
                </div>
            </li>
            <li>
                <img class="hero" src="{% static 'library/images/moon2.jpg' %}" alt="img">
                <div class="default-container">
                    <div class="hero-film"><p>Moon</p></div>
                </div>
            </li>
            <li>
                <img class="hero" src="{% static 'library/images/civilization.jpg' %}" alt="img">
                <div class="default-container">
                    <div class="hero-film"><p>Civilization</p></div>
                </div>
            </li>
            <li>
                <img class="hero" src="{% static 'library/images/astronaut.jpg' %}" alt="img">
                <div class="default-container">
                    <div class="hero-film"><p>Scientific</p></div>
                </div>
            </li>
        </ul>
        <div class="default-container">
            <div class="spans">
                <span class="active"></span>
                <span></span>
                <span></span>
                <span></span>
            </div>

        </div>
        <div class="fader">
            <div class="fader-grad0"></div>
            <div class="fader-grad1"></div>
        </div>
    </section>
    <section class="default-container  content">
        <p class="lbl-p">Categories for learning words</p>
        <div class="border-line"></div>
        <div class="posters">
            {% for cat in cats %}
                <div class="poster">
                    <a href='{{ cat.get_absolute_url }}'>
                         <div class="poster-now-p">
                            <p>{{cat.cat_name}}</p>
                        </div>
                        <img src="{{ cat.image.url }}" alt='photo'>
                     </a>
                </div>
            {% endfor %}
        </div>
    </section>

</main>

<script src="{% static 'library/js/script.js' %}"></script>
{% endblock %}
