{% extends 'library/base.html' %}
{% load static %}

{% block content %}
{% for content in contents %}
<main>
    <section class="default-container">
        <div class="player">
            <iframe src="{{ content.trailer }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </section>
    <section class="default-container">
        <ul class="tabs-titles">
            <li class="active">About</li>
            <li>Cast</li>
            <li>Reviews</li>
        </ul>
        <div class="tabs">
            <div class="tab">
                <p>Title: {{ content.title }} </p>
                <p>Release: {{ content.release }}</p>
                <p>{{ content.content }}</p>
            </div>
        </div>
        <a class="button-register" href="">START LEARNING</a>

    </section>
</main>
{% endfor %}
<script src="{% static 'library/js/script2.js' %}"></script>
{% endblock %}