{% extends 'library/base.html' %}
{% load static %}

{% block content %}
    <div class="default-container  content">
        <p class="lbl-p">Content by category</p>
        <div class="border-line"></div>
        <div class="posters-category">
            {% for f in posts %}
                <div class="poster-category">
                    <a href='{{ f.get_absolute_url }}'>
                        <img src="{{f.image.url}}" alt='photo'>
                    </a>
                    <div class="poster-now-p">
                            <p>{{f.title}}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
<script src="{% static 'library/js/script2.js' %}"></script>
{% endblock %}
