@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Rubik+Dirt&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

input {
    all: unset;
}

body {
    font-family: 'Rubik Dirt', sans-serif;
    color: white;
    overflow: auto;
    background-color: black;
    /*margin-left: 30px;*/
    /*margin-right: 30px;*/
}

.default-container {
    max-width: 1536px;
    margin: auto;
    font-size: 16px;
}

.default-container>p {
    margin-top: 50px;
    margin-bottom: 20px;
}

img {
    height: 100%;
    width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    color: white;
    text-decoration: none;
}

header {
    position: sticky;
    top: 0;
    z-index: 3;
    margin: 0 25px 0 25px;
    font-size: 16pt;
}

.header-nav-logo {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.title-logo {
    font-size: 24px;
}

header .header-nav {
    display: flex;
    height: 80px;
}

header .header-nav ul {
    display: flex;
    align-items: center;
    position: relative;
}

ul.menu>li>a {
    padding: 0 17px 0 17px;
}

ul.menu>li:last-child {
    margin-left: 20px;
}

ul.menu>li:first-child>a::after{
    content: '';
    position: absolute;
    width: 7px;
    height: 7px;
    background-color: blue;
    border-radius: 50%;
    bottom: 45px;
}

ul.menu>li:nth-last-child(2){
    margin-left: 100px;
}

ul.menu>li:first-child>a{
  margin-right: 10px;
}

.button-register {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 25px auto;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    transition: 0.3s;
    width: 20%;
    height: 50px;
    background: #21ebff;
    color: #000;
    box-shadow: 0 0 50px #21ebff;
}

.lbl-p {
    position: relative;
    font-size: 22px;
    z-index: 2;
}

.lbl-added {
    padding-top: 30px;
    position: relative;
    font-size: 18px;
    z-index: 2;
}

.posters {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.poster {
    min-width: 200px;
    min-height: 100px;
    position: relative;
    transition: 250ms all;
}

.poster:hover {
    cursor: pointer;
    transform: scale(1.1);
}




.poster-now>img {
    height: 230px;
}

.poster-now-p {
    font-size: 16px;
}

.poster-now-p>p:first-child {
    color: dimgrey;
    font-size: 20px;
}

footer {
    padding: 60px 30px 0 30px;
    background-color: black;
}

.footer-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: auto;
    gap: 20px;
}

.f-item p {
    color: dimgrey;
    font-size: 18px;
}

.footer-social p {
    color: dimgrey;
    font-size: 18px;
}

.footer-social a>img {
    width: 32.57px;
    height: 32.2px;
    margin-right: 8px;
    margin-bottom: 25px;
}

.footer-social {
    margin-top: 40px;
}

.hero {
    position: absolute;
    top: 0;
    object-fit: cover;
    object-position: top;
}

.hero-film {
    height: 70vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 1;
}

.hero-film>p {
    font-size: 36px;
    padding-bottom: 15px;
    margin-left: 30px;
}

.spans {
    display: flex;
    justify-content: flex-end;
}

.spans>span {
    width: 13px;
    height: 13px;
    background-color: dimgrey;
    z-index: 1;
    margin: 0 15px 0 0;
    border-radius: 50%;
    cursor: pointer;
}

.spans>span.active {
    background-color: white;
}

.fader {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}

.fader .fader-grad0 {
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.01) 77.36%, rgba(0, 0, 0, 0.01) 77.36%, #0C0B0B 96.82%);
    position: absolute;
}

.fader .fader-grad1 {
    height: 100%;
    width: 100%;
    background: linear-gradient(277.92deg, rgba(0, 0, 0, 0) 7.66%, rgba(0, 0, 0, 0.88) 89.67%);
}

.content {
    z-index: 1;
    margin-right: 30px;
    margin-left: 30px;
}

main {
    padding-top: 100px;
    background-color: black;
}

.border-line {
    border-bottom: 2px solid dimgrey;
    margin-bottom: 20px;
}

.search {
    padding: 7px 10px;
    color: darkblue;
    height: 30px;
    background: linear-gradient(to bottom right, #1E90FF, #21ebff);
    border-radius: 4px;
    display: inline-flex;
    align-items: center;

}

.search>button>img {
    height: 10px;
    width: 10px;
}

.search :is(input, button) {
    color: inherit;
    border: none;
    background: transparent;
    outline: none;
}

.search__input {
    width: 0;
    transition: width, .5s;
}

.search__input::placeholder {
    color: white;
}

.search__btn {
    width: 10px;
    height: 10px;
    display: grid;
    place-items: center;
    cursor: pointer;
}

.search:focus-within input {
    width: 100px;
}

::placeholder {
    color: inherit;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    height: 300px;
    overflow: auto;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px 20px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.posters-category {
    display: flex;

}

.poster-category>a>img {
    height: 349px;
    width: 226px;
    padding-right: 20px;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    padding-bottom: 100px;
    flex-direction: column;

}

.login .form-container {
    width: 450px;
    height: auto;
    padding: 30px;
}

.login .form-container>p:first-child {
    text-align: center;
    font-size: 24px;
    color: #f1f1f1;
}

.login .form-container>form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.login .form-container>form>input {
    height: 40px;
    border-radius: 5px;
    background-color: white;
    color: black;
    padding: 0 5px 0 5px;
    margin: 15px;
}


.login .form-container>form>label {
    color: white;
    font-size: 19px;
    padding-left: 13px;
}

.login .form-container>form>input[type=submit] {
    background-color: #21ebff;
    border-radius: 20px;
    width: 420px;
    text-align: center;
    margin: auto;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
}

.login .form-container>p:last-child {
    text-align: center;
    font-size: 15px;
}

.login .form-container>p>span>a {
    color: #21ebff;
}

.search-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 140px;
    flex-direction: column;
}

.search-section .search-container>p {
    text-align: center;
    font-size: 18px;
    padding: 5px;
}

.player {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
}

.player::after {
    display: block;
    content: '';
    padding-top: 56.25%;
}

.player iframe {
    position: absolute;
    margin-left: 30px;
    margin-right: 30px;
    top: 0;
    width: 90%;
    height: 90%;
}

.tabs-titles {
    display: flex;
    margin-top: 20px;
    margin-left: 30px;
}

.tabs-titles li {
    padding-right: 30px;
    font-size: 30px;
    cursor: pointer;
}

.tabs-titles li.active {
    color: #21ebff;
}

.tabs {
    margin-top: 21px;
    margin-left: 30px;
}

.tabs p {
    padding-top: 5px;
    font-size: 18px;
}

.tabs p:last-child {
    display: flex;
    width: 600px;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    text-align: center;
}

.rating {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin: 5px;
	width: 45px;
	height: 35px;
	background: #21ebff;
    border-radius: 5px;
}

.rating>p{
    color: black;
}

.list-pages {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.page-num {
    margin-right: 8px;
    padding: 5px;
    border: solid #21ebff;
    border-radius: 4px;
}

.page-num-selected {
    color: dimgrey;
    border-color: dimgrey;
}
